.page-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-container01 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 69px;
  display: flex;
  align-items: flex-start;
}

.page-navbar-interactive {
  width: 100%;
  height: 77px;
  display: flex;
  z-index: 10000;
  position: fixed;
  background: white;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.page-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.page-text {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
}
.page-container03 {
  flex: 0 0 auto;
  width: 385px;
  height: 40px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0);
  border-style: dashed;
  border-width: 20px;
  flex-direction: column;
  justify-content: center;
}
.page-text01 {
  top: -10px;
  left: 83px;
  position: absolute;
  font-size: 18px;
  align-self: flex-start;
  font-family: Poppins;
  text-decoration: none;
}
.page-link {
  top: -11px;
  left: 169px;
  position: absolute;
  font-size: 18px;
  font-family: Poppins;
  text-decoration: none;
}
.page-navlink {
  font-size: 18px;
  font-family: Poppins;
  text-decoration: none;
}
.page-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.page-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-container04 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
.page-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-container05 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.page-container06 {
  width: 100%;
  height: 665px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  border-color: #ffffff;
  border-style: dashed;
  border-width: 2px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #e6e6e6;
}
.page-container07 {
  width: 100%;
  height: 377px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  justify-content: center;
  background-color: #ff6969;
}
.page-container08 {
  flex: 0 0 auto;
  width: 1059px;
  height: 439px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.page-text09 {
  font-size: 40px;
  margin-bottom: var(--dl-space-space-twounits);
}
.page-image {
  width: 940px;
  height: 319px;
  align-self: center;
  object-fit: cover;
}
.page-text10 {
  font-size: 40px;
  align-self: center;
}
.page-container09 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 663px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page-container10 {
  width: 100%;
  height: 563px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-div {
  width: 1238px;
  height: 505px;
}
.page-container11 {
  width: 100%;
  height: 314px;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
}
.page-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #ffffff;
}
.page-container12 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.page-logo {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.page-text13 {
  font-size: 40px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
  line-height: 1.15;
}
.page-text14 {
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.page-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.page-container13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-contact {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: flex-start;
}
.page-text20 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.page-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-socials {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page-text23 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.page-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.page-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-unit);
}
.page-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-900);
}
.page-text24 {
  align-self: center;
}
@media(max-width: 1200px) {
  .page-navbar-interactive {
    height: 73px;
  }
  .page-text05 {
    font-size: 30px;
  }
  .page-container06 {
    width: 100%;
    height: 562px;
  }
  .page-container08 {
    width: 780px;
    height: 431px;
  }
  .page-image {
    width: 618px;
    height: 244px;
  }
}
@media(max-width: 991px) {
  .page-container06 {
    width: 100%;
    height: 491px;
  }
  .page-container08 {
    width: 629px;
    height: 417px;
  }
  .page-image {
    width: 480px;
    height: 276px;
  }
  .page-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .page-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-container03 {
    display: none;
  }
  .page-burger-menu {
    display: flex;
  }
  .page-nav1 {
    padding-left: var(--dl-space-space-halfunit);
  }
  .page-container08 {
    width: 466px;
    height: 392px;
  }
  .page-image {
    width: 394px;
    height: 247px;
  }
  .page-container09 {
    width: 100%;
    height: 747px;
  }
  .page-container11 {
    width: 100%;
    height: 477px;
  }
  .page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-container12 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-logo {
    align-items: center;
  }
  .page-text14 {
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .page-links-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 414px) {
  .page-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .page-mobile-menu {
    height: 206px;
    padding: 16px;
  }
  .page-nav {
    height: 224px;
    position: relative;
  }
  .page-container04 {
    height: 42px;
    margin-bottom: 0px;
  }
  .page-text05 {
    padding-left: var(--dl-space-space-halfunit);
  }
  .page-nav1 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
  }
  .page-container06 {
    width: 100%;
    height: 466px;
  }
  .page-container08 {
    width: 400px;
    height: 291px;
  }
  .page-text09 {
    font-size: 30px;
  }
  .page-image {
    width: 328px;
    height: 204px;
  }
  .page-container10 {
    width: 100%;
    height: 398px;
  }
  .page-div {
    width: 417px;
    height: 311px;
  }
  .page-container11 {
    width: 100%;
    height: 464px;
    align-self: flex-start;
  }
  .page-footer {
    padding: var(--dl-space-space-unit);
  }
  .page-container12 {
    align-items: center;
    flex-direction: column;
  }
  .page-text14 {
    margin-top: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .page-links-container {
    align-items: center;
    flex-direction: column;
  }
  .page-container13 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .page-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text24 {
    text-align: center;
  }
}
