.outline-button-container {
  display: flex;
  position: relative;
}

.outline-button-button {
  color: var(--dl-color-gray-black);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-1001);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}

.place-card-container {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.place-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
}
.place-card-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.place-card-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.place-card-text1 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.place-card-root-class-name {
  align-self: stretch;
}

.main-main {
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  overflow-y: auto;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/playground_assets/thingstodo%20bg-1500w.jpg");
  background-attachment: fixed;
}
.main-text1 {
  color: var(--dl-color-gray-500);
}
.main-cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.main-navlink {
  display: contents;
}
.main-component {
  text-decoration: none;
}
.main-root-class-name {
  background-size: cover;
  background-image: url("public/playground_assets/thingstodo%20bg-200h.jpg");
}
@media(max-width: 991px) {
  .main-cards-container {
    justify-content: center;
  }
}
