<div>
  <link href="./main.css" rel="stylesheet" />
  <div id="main-section" class="main-main">
    <h1><span>Things To Do</span></h1>
    <span class="main-text1"><span>Recommended</span></span>
    <div class="main-cards-container">
      <a href="page.html" class="main-navlink">
        <div class="place-card-container">
          <img
            alt="image"
            src="public/playground_assets/trek%20bg-300h.jpeg"
            class="place-card-image"
          />
          <div class="place-card-container1">
            <span class="place-card-text"><span>Trekking</span></span>
            <span class="place-card-text1">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna.
              </span>
            </span>
            <div class="outline-button-container">
              <button class="outline-button-button Button button">
                <span>Discover</span>
              </button>
            </div>
          </div>
        </div>
      </a>
      <div class="place-card-container">
        <img
          alt="image"
          src="public/playground_assets/watersport%20bg-300w.jpg"
          class="place-card-image"
        />
        <div class="place-card-container1">
          <span class="place-card-text"><span>Water Sports</span></span>
          <span class="place-card-text1">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </span>
          </span>
          <div class="outline-button-container">
            <button class="outline-button-button Button button">
              <span>Discover</span>
            </button>
          </div>
        </div>
      </div>
      <div class="place-card-container">
        <img
          alt="image"
          src="public/playground_assets/food%20bg-300w.jpg"
          class="place-card-image"
        />
        <div class="place-card-container1">
          <span class="place-card-text"><span>Food</span></span>
          <span class="place-card-text1">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </span>
          </span>
          <div class="outline-button-container">
            <button class="outline-button-button Button button">
              <span>Discover</span>
            </button>
          </div>
        </div>
      </div>
      <div class="place-card-container">
        <img
          alt="image"
          src="public/playground_assets/beaches%20bg-300h.jpg"
          class="place-card-image"
        />
        <div class="place-card-container1">
          <span class="place-card-text"><span>Beaches</span></span>
          <span class="place-card-text1">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </span>
          </span>
          <div class="outline-button-container">
            <button class="outline-button-button Button button">
              <span>Discover</span>
            </button>
          </div>
        </div>
      </div>
      <div class="place-card-container">
        <img
          alt="image"
          src="public/playground_assets/temple%20bg-300w.jpg"
          class="place-card-image"
        />
        <div class="place-card-container1">
          <span class="place-card-text"><span>Temples</span></span>
          <span class="place-card-text1">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </span>
          </span>
          <div class="outline-button-container">
            <button class="outline-button-button Button button">
              <span>Discover</span>
            </button>
          </div>
        </div>
      </div>
      <div class="place-card-container place-card-root-class-name">
        <img
          alt="image"
          src="public/playground_assets/exp%20bg-300w.jpg"
          class="place-card-image"
        />
        
        <div class="place-card-container1">
          <span class="place-card-text"><span>Experience Culture</span></span>
          <span class="place-card-text1">
            <span>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna.
            </span>
          </span>
          <div class="outline-button-container">
            <button class="outline-button-button Button button">
              <span>Discover</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
